<h1>投稿一覧</h1>
<button type="button" class="btn btn-secondary"><%= link_to("新規投稿", "/posts/new") %></button><br>
<div class="content">
  <% @posts.each do |post| %>
  <div class="comment">
    <%= post.comment %>
   </div>
   <div class="image">
     <%= image_tag post.image %>
    </div>
  <% end %>
</div>