<h1>投稿一覧</h1>
<div class="new-btn">
  <button type="button" class="btn new btn-secondary" onclick="location.href='/posts/new'">新規投稿</button>
</div>
<div class="items">
  <% @posts.each do |post| %>
    <div class="item">
      <div class="item-image">
        <%= image_tag post.image, size: '200x200' %>
      </div>
      <div class="item-body">
        <div class="item-title">
          <%= post.title %>
        </div>
        <p><%= post.comment %></p>
      </div>
      <%= link_to "詳細", "/posts/#{post.id}" %>
    </div>
  <% end %>
</div>