<h1>投稿一覧</h1>
<div class="new-btn">
  <button type="button" class="btn new btn-secondary" onclick="location.href='/posts/new'">新規投稿</button>
</div>
<div class="content">
  <% @posts.each do |post| %>
  <ul>
    <li>
      <div class="image">
        <%= image_tag post.image, size: '100x200' %>
      </div>
      <div class="comment">
        <%= post.comment %>
      </div>
    </li>
  </ul>
  <% end %>
</div>