// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-container {
  margin: 30px 300px 0 300px;
}

h1 {
  text-align: center;
  color: #00AA00;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
  letter-spacing: 15px;
  font-size: 85px;
}

.new {
  width: 150px;
  height: 50px;
}

.new-btn {
  margin-top: 70px;
  text-align: center;
}

.btn {
  width: 200px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}

.items .item {
  width: 40%;
}

.item {
  margin-top: 10px;
  height: 450px;
  box-sizing: border-box;
  border: solid 2px #c7c5c5;
  padding: 5px 0;
}

.item-image {
  display: inline-block;
  padding-top: 15px;
}

.item-body {
  padding: 5px 60px;
  margin: 0;
  text-align: left;
}

.item-body h3 {
  font-size: 17px;
  font-weight: 600;
}

.item-body p {
  margin-bottom: 0;
  font-size: 15px;
}

.item-label{
  padding-bottom: 5px;
  font-size: 15px;
}

.item-title {
  margin: 0;
  padding-top: 5px;
}

.item-comment {
  padding-top: 5px;
}

.item-age {
  padding-top: 5px;
  font-size: 10px;
}

.item-show{
  text-align: right;
}

.favolite-count {
  padding-top: 5px;
  float: left;
}

.favolite {
  padding-top: 5px;
  float: right;
}

// showページのcss
.show-itmes {
  margin: 100px 40px 50px 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.show-image {
  padding: 0;
}
.show-body {
  width: 600px;
  margin: 0 20px 0 60px;
  padding: 20px 0 5px 0;
}
.show-title {
  text-align: center;
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.show-body p {
  padding-top: 20px;
  font-weight: 400;
  color: #333;
}

.show-comment {
  font-size: 35px;
}

.show-favolite-count {
  padding-top: 10px;
  font-size: 20px;
}

.show-links {
  padding-top: 10px;
}

// 新規投稿、編集のcss
.ne-container {
  margin: 50px 400px 20px 400px;
  padding: 0 100px 0 50px;
}
.title {
  font-size: 25px;
}
.picture {
  font-size: 25px;
  margin-top: 30px;
}
.comment {
  font-size: 25px;
  margin-top: 30px;
}
.submit {
  font-size: 25px;
  margin-top: 30px;
}