// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  color: #00AA00
}


.new {
  width: 150px;
  height: 50px;
}

.new-btn {
  margin-top: 30px;
  text-align: center;
}

.items {
  margin: 30px 300px 0 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.items .item {
  width: 40%;
}
.item {
  height: 500px;
  width: 50%;
  box-sizing: border-box;
  border: solid 1px #c7c5c5;
  padding: 5px 0;
}
.item-image {
  display: inline-block;
  padding: 0;
}
.item-body {
  padding: 5px 0;
}
.item-title {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.item-body p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
// show page css
.show-itmes {
  margin: 30px 40px 50px 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.show-image {
  border: solid 1px rgb(0, 255, 0);
  padding: 0;
}
.show-body {
  border: solid 2px rgb(216, 26, 26);
  width: 600px;
  margin: 0 20px;
  padding: 5px 0;
}
.show-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.show-body p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

// new and edit page css
.ne-container {
  margin: 50px 400px 20px 400px;
  padding: 0 100px 0 50px;
}
.title {
  font-size: 25px;
}
.picture {
  font-size: 25px;
  margin-top: 30px;
}
.comment {
  font-size: 25px;
  margin-top: 30px;
}
.submit {
  font-size: 25px;
  margin-top: 30px;
}
.back {
  font-size: 20px;
  margin-top: 20px;
  float: right;
}