.user_form {
  margin: 20px 400px 20px 400px;
}

.user_form h2 {
  text-align: center;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
  letter-spacing: 10px;
  font-size: 50px;
  color: #00AA00;
}

.form {
  padding: 30px 100px 0 100px;
}

.field {
  margin-bottom: 10px;

}

.box {
  width: 200px;
  border: solid 1px rgb(99, 99, 99);
  border-radius: 10px;
}